:root {
  --bool-primary: #1e1e1e;
  --bool-secondary: #121212;
  --bool-black: black;
  --bool-light: #b3b3b3;
  --bool-dark: #4f4f4f; /* #242424 */
  --bool-white: #ffffff;
  --bool-focus: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bool-black);
  color: var(--bool-white);
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -1;
}

[class^="col-"] {
  padding: 1rem;
}
.col-12 {
  width: 100%;
}

/* sm */
@media screen and (min-width: 468px) {
  .col-sm-6 {
    width: 50%;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .col-md-4 {
    width: calc(100% / 3);
  }

  .container {
    width: 90%;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
  .col-lg-3 {
    width: calc(100% / 4);
  }
}

/* xl */
@media screen and (min-width: 1440px) {
  .col-xl-2 {
    width: calc(100% / 6);
  }
}
